@import "font.css";

*{
    margin:0;
    padding: 0;
   
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5em;
  background-color: transparent;
    

}

body::-webkit-scrollbar
{
	width: 0.5em;
    
  background-color: transparent;
}

body::-webkit-scrollbar-thumb
{

	border-radius: 3em;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
body{
    background-color: rgb(20, 20, 22);
}

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #e65100;
    }
    
    .animated-icon2 span {
    background: #e3f2fd;
    }
    
    .animated-icon3 span {
    background: #f3e5f5;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    
    /* Icon 3*/
    
    .animated-icon2 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
    }
    
    .animated-icon2 span:nth-child(4) {
    top: 20px;
    }
    
    .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
      

.all{
    background:url(./home/hero.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}


.verticalLine {
    border-left: thick solid rgb(235, 235, 235);
    width: 5px;
    border-radius:1.3px;
    height: 25px;
    margin-top: 5px;
    
  }

.logo{
   
    color:aliceblue;
    letter-spacing: 1px;
    font-size: 1.8em;
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
}
.logo:hover{
    color:aliceblue;
}

#link>li>a{
    color:aliceblue;
  
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 100;
}

#link{
    margin: 0 0;
}

.con{
    height: 3em;
    width: min(16vh,200px);
    background-color: #1b1c1e;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 5px;
    
}
.con>a{
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: aliceblue;
}

.con:hover a{
    background-color: #889CE7;
    color: #141416;
    border: 2px solid #889CE7;
}
.con:hover{
    background-color: #889CE7;
    
    border: 2px solid #889CE7;
}
.con>a:hover{
    background-color: #889CE7;
    text-decoration: none;
   
}

.head{
    height: 100vh;
}
  
.heading{
    font-size: 5em;
    color:white;
    line-height: 12vh;
}

.heading-below{
    font-size: 1.6em;
    font-weight: 200;
    color:white;
}


.sec2{
    height:fit-content;  
}

.sec2-main{
   vertical-align: middle;
   padding-top: 4em;
}
.hr{
    border-left: thick solid rgb(223, 222, 222);
    width: 1vw;
    border-radius:1.5px;
    height: 18vh;
    margin-top: 6px;
    
}
.sec2-head{
    font-size: 4.5vh;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 100;
}
.one{
    border-right: 1px solid rgb(114, 112, 112) ;
    background: url(./home/services.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.one>p{
    padding: 10% 20% 0 20%;
    color: #8A8A8A;
    font-size: 16px;
    line-height: 28.8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cards{
    height: 39em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
   
    margin: 1em;
    height:19em;
    width: 15em;
    border-radius: 5px;
    padding: 1em 2em;
    background-color: #1b1c1e;
    color:#8a8a8a;
   
}
.card>h5{
    font-size: 18px;
    margin-top: -10px;
    color:#889ce7;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.card>p{
    font-size: 15px;
    margin-top: 0px;
}
.card>hr{
    height: 4px;
    min-height: 2px;
    margin: 0;
    padding: 0;
    background-color: #3f4349;
    border-radius: 7px;
}

.sec3{
    border: 1px solid rgb(114, 112, 112) ;
    height:100%;

}

.sec3-main{
    background: url(./home/section3.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    border-right: 1px solid rgb(114, 112, 112) ;
    display: flex;
    flex-direction: column;
    line-height: 2em;
    justify-content: center;
    align-items: center;
}

.sec3-main>P{
    font-size:2.2em;
    color:#FFFFFF;
    font-family: 'Barlow', sans-serif;
}

.sec3-side{
   
    display: flex;
    flex-direction: column;
   
}
.sec3-side>p{
    text-align: left;
    font-size: 1.1em;
    line-height: 1.2;
    line-height: 1.6em;
    color: #8A8A8A;
}

.sec4{
    border: 1px solid rgb(114, 112, 112) ;
    height:100%;

}

.sec4-main{
    background: url(./home/Fourth.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    border-right: 1px solid rgb(114, 112, 112) ;
    display: flex;
    flex-direction: column;
    line-height: 2em;
    justify-content: center;
    align-items: center;
}

.sec4-main>P{
    font-size:36px;
    color:#FFFFFF;
    font-family: 'Barlow', sans-serif;
}

.sec4-side{
   
    display: flex;
    flex-direction: column;
   
}
.sec4-side>p{
    text-align: left;
    font-size: 1.1em;
    line-height: 1.2;
    line-height: 1.6em;
    color: #8A8A8A;
}
.con2{
    height: 3em;
    width: min(18vh,200px);
    background-color: #1b1c1e;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 5px;
    
}
.con2>a{
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: aliceblue;
}

.con2:hover  {
    background-color: #889CE7;
    color: #141416;
    border: 2px solid #889CE7;
}
.con2:hover a{
    background-color: #889CE7;
    color: #141416;
    border: 2px solid #889CE7;
}
.con2>a:hover{
    background-color: #889CE7;
    text-decoration: none;
}
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#141416;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  

/* media query */

@media only screen and (max-width: 340px){
    .navbar-collapse {
        position: absolute;
        background-color: #141416;
        height: 100vh;
        top:100%;
        align-items: center;
        width: 100%;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
        -moz-transition: right 0.3s ease;
        transition: right 0.3s ease;
        right: -100%;
    }
    .navbar-collapse.show {
        right: 0;
        -webkit-transition: right 0.3s ease-in;
        -o-transition: right 0.3s ease-in;
        -moz-transition: right 0.3s ease-in;
        transition: right 0.3s ease-in;
    }
    .nav-item{
      margin: 3em 0 0 0;
    }
    .head{
        height: 60vh;
        margin-top: 8vh;
        margin-left: 5vw;
    }

    .one>p{
        font-size: 1em;
        margin: 0 0;
        padding:1.5em 1.5em ;
    }
    .heading{
        font-size: 2em;
        line-height: 1.3em;
    }
    .heading-below{
        font-size: 1em;  
    }
.sec2-main{
    padding: 1.2em 0;
}
    .section3{
        margin-top: 105vh;
        padding: 0 0;
        border: 0px;
    }
    
    .sec3-main{
        margin-top: 8em;
        height: 10em;
    }
    .sec3-main>p{
        font-size: 1.5em;
    }
   .sec3{
       margin:4em 0 0 0;
       border: 0px;
   } 
   .sec3-side{
    padding:2em 3em 0 3em;
}
.sec3-side>p{
    font-size: 0.95em;
}

   .con2{
       margin-top: 1em;
   }
   .sec4-main{
    height: 10em;
}
.sec4-main>p{
    font-size: 1.5em;
}
.sec4{
   margin:4em 0 0 0;
   border: 0px;
} 
.sec4-side{
padding:2em 3em 0 3em;
}
.sec4-side>p{
font-size: 0.95em;
}

.one{
    border-right: 0px solid rgb(114, 112, 112) ;
}
   
}

/* Extra small devices (phones, 600px and down) */


@media only screen and (max-width: 601px) and (min-width: 340px) {
    .navbar-collapse {
        position: absolute;
        background-color: #141416;
        height: 90vh;
        top:10vh;
        width: 100vw;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: right 0.2s ease;
        -o-transition: right 0.2s ease;
        -moz-transition: right 0.2s ease;
        transition: right 0.1s ease;
        right: -100%;
    }
    .navbar-collapse.show {
        right: 0;
        -webkit-transition: right 0.2s ease-in;
        -o-transition: right 0.2s ease-in;
        -moz-transition: right 0.2s ease-in;
        transition: right 0.2s ease-in;
    }
    
    .nav-item{
      margin: 3em 0 0 0;
    }
    
    
  
    .head{
        height: 60vh;
        margin-top: 8vh;
        margin-left: 5vw;
    }
    .heading{
        font-size: 2em;
        line-height: 1.3em;
    }
    .heading-below{
        font-size: 1.2em;  
    }

    .one>p{
        font-size: 1em;
        margin: 0 0;
        padding:1.5em 1.5em ;
    }
    .sec2-head{
        margin: 0 0;
        padding: 0 0;
    }
    .section3{
        margin-top: 105vh;
        padding: 0 0;
        border: 0px;
    }
    .sec3-main{
        height: 15em;
    }
    .sec3-main>p{
        font-size: 1.9em;
    }
   .sec3{
       margin:4em 0 0 0;
       border: 0px;
   }
  
   .sec3-side{
    padding:4em 3em 0 3em;
}

.sec4-main{
    height: 15em;
}
.sec4{
   margin:4em 0 0 0;
   border: 0px;
}

.sec4-side{
padding:4em 3em 0 3em;
}

    .con2{
       margin-top: 1em;
   }
   .one{
    border-right: 0px solid rgb(114, 112, 112) ;
}
  
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 601px) {
    #main{
        padding-left:3vw;
        padding-right:10vw;

    }

    #link>li{
        padding-left: 1.5em;
    }
    .navbar-collapse {
        position: absolute;
        background-color: #141416;
        height: 90vh;
        top:10vh;
        width: 100vw;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: right 0.2s ease;
        -o-transition: right 0.2s ease;
        -moz-transition: right 0.2s ease;
        transition: right 0.1s ease;
        right: -100%;
    }
    .navbar-collapse.show {
        right: 0;
        -webkit-transition: right 0.2s ease-in;
        -o-transition: right 0.2s ease-in;
        -moz-transition: right 0.2s ease-in;
        transition: right 0.2s ease-in;
    }
    
    .nav-item{
      margin: 3em 0 0 0;
    }
    .one{
        border-right: 0px solid rgb(114, 112, 112) ;
    }
    .head{
        margin-top: 8vh;
        margin-left: 5vw;
    }
    .heading{
        font-size: 4em;
    }
    .heading-below{
        font-size: 1.5em;
    }
    .section3{
        padding: 0 0;
        border: 0px;
    }
    .sec3-main{
        height: 20em;
    }
   .sec3{
       margin:4em 0 0 0;
       border: 0px;
   }
  
   
   .sec3-side{
    padding:4em 10em 0 10em;
}
   .con2{
       margin-top: 2em;
   }
   .sec4-main{
    height: 20em;
}
.sec4{
   margin:4em 0 0 0;
   border: 0px;
}


.sec4-side{
padding:4em 10em 0 10em;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 993px) and (min-width: 768px) {
    #main{
        padding-left:8vw;
        padding-right:10vw;

    }

    #link>li{
        padding-left: 1.5em;
    }
    .head{
        margin-top: 8vh;
        margin-left: 5vw;
    }
    .card{
       margin: 0.5em;
    }

    .sec2{
        border: 1px solid rgb(114, 112, 112) ;
    }
    .section2{
        padding: 0 5em 0 5em;
    
    }
    .section3{
        padding: 0 4em;
    }
    .sec3-main{
        height: 20em;
    }
   .sec3{
       margin:4em 0 0 0;
  
   }
   
   .sec3-side{
       height: 30em;
    padding:2em 5em 0 5em;
}
.sec4-main{
    height: 20em;
}
.sec4{
    padding: 0 0 2em 0;
   margin:0 0 0 0;
  
  
}

.sec4-side{
padding:4em 10em 0 10em;
}
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #main{
        padding-left:8vw;
        padding-right:8vw;
    }

    #link>li{
        padding-left: 1.7em;
    }
  
    .head{
        margin-top: 8vh;
        margin-left: 5vw;
    }
    .sec2{
        border: 1px solid rgb(114, 112, 112) ;
    }
    .section2{
        padding: 0 5em 0 5em;
    }
    .section3{
        padding: 0 4em;
    }
    .sec3-main{
        height: 80em;
    }
   .sec3{
       margin:4em 0 0 0;
      
   }
   
   .sec3-side{
    padding:4em 10em 0 10em;
}
.sec4-main{
    height: 80em;
}
.sec4{
   margin:0 0 0 0;
  
}

.sec4-side{
padding:4em 10em 0 10em;
}
}

/* special */
@media screen and (max-width: 1199px) and (min-width: 991px){
    .card>svg{
        height:25px;
        width: auto;
    }  
    .card{
          width: 12em;
    }
    .card>h5{
        font-size: 15px;
    }
    .card>p{
        font-size: 12px;
    }
    .cd1{
        margin: -3em 0 0 -1.1em ;
    }
    .cd2{
        margin: 2em 0 0 2em;
    }
    .cd3{
        margin: -3em 0 0 0;
    }
    .cd4{
        margin:2em 0 0 2em;
    }
    .section2{
        padding: 0 5em 0 5em;
    }
    .section3{
        padding: 0 4em;
    }
   .sec3{
       margin:4em 0 0 0;
      
   }
   .sec3-main{
    height: 50em;
}
   
   .sec3-side{
    padding:4em 5em 0 5em;
}
.sec4{
    margin:0 0 0 0;
   
}
.sec4-main{
 height: 50em;
}

.sec4-side{
 padding:4em 5em 0 5em;
}
}
/* why */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    #main{
        padding-left:8vw;
        padding-top: 1vh;
    }

    #link>li{
        padding-left: 2.2em;
    }

    
    .head{
        margin-top: 8vh;
        margin-left: 5vw;
    }

    .sec2{
        border: 1px solid rgb(114, 112, 112) ;
    }
    .section2{
        padding: 0 5em 0 5em;
    }
    .cd1{
        margin: -3em 0 0 3em ;
    }
    .cd2{
        margin: 2em 0 0 2em;
    }
    .cd3{
        margin: -3em 0 0 0;
    }
    .cd4{
        margin:2em 0 0 2em;
    }

    .section3{
        padding: 0 4em;
    }
   .sec3{
       margin:4em 0 0 0;
      
   }
   .sec3-main{
    height: 45em;
}
   
   .sec3-side{
    padding:4em 10em 0 10em;
}
.sec4{
    margin:0 0 0 0;
   
}
.sec4-main{
 height: 45em;
}

.sec4-side{
 padding:4em 10em 0 10em;
}
}
