@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&display=swap');


*{
    margin:0;
    padding: 0;
   
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0.5em;
  background-color: transparent;
}

::-webkit-scrollbar
{
	width: 0.4em;
  
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
 
	border-radius: 0.5em;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

body{
    background-color: rgb(20, 20, 22);
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: #e65100;
  }
  
  .animated-icon2 span {
  background: #e3f2fd;
  }
  
  .animated-icon3 span {
  background: #f3e5f5;
  }
  
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }
  
  /* Icon 3*/
  
  .animated-icon2 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
  top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
    
.all{
    background:url(../home/services.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}


.verticalLine {
    border-left: thick solid rgb(235, 235, 235);
    width: 5px;
    border-radius:1.3px;
    height: 25px;
    margin-top: 5px;
    
  }

.logo{
   
    color:aliceblue;
    letter-spacing: 1px;
    font-size: 1.8em;
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
}
.logo:hover{
    color:aliceblue;
}

#link>li>a{
    color:aliceblue;
  
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 100;
}

#link{
    margin: 0 0;
}

.con{
    height: 3em;
    width: min(16vh,200px);
    background-color: #1b1c1e;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 5px;
    
}
.con>a{
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: aliceblue;
}

.con:hover a{
    background-color: #889CE7;
    color: #141416;
    border: 2px solid #889CE7;
}
.con:hover{
    background-color: #889CE7;
    
    border: 2px solid #889CE7;
}
.con>a:hover{
    background-color: #889CE7;
    text-decoration: none;
   
}
.section{
    height: 80vh;
    width: 98vw;
    flex-direction: column;
    justify-content: left;
}
.sec-main{
  font-size: 3.8em;
  font-family: 'Barlow', sans-serif;
  color: #ffffff;
  

}
.sec-side{
  width: 60%;
  margin-top: 0;
  font-size: 2vw;
  font-family: 'Barlow', sans-serif;
  color: #ffffff;
  font-weight: 200;
  line-height: 1.3em;
}

.sec2 , .sec3 , .sec4{
  border: 1px solid rgb(114, 112, 112) ;
  height:80vh;

}
.sec2-main{
  background: url(../home/Folder/Second.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;

}

.sec2-main , .sec3-main , .sec4-main{

  border-right: 1px solid rgb(114, 112, 112) ;
  display: flex;
  flex-direction: column;
  line-height: 2em;
  justify-content: center;
  align-items: center;
}

.sec2-main>p ,  .sec4-main>p{
  font-size:4em;
  color:#FFFFFF;
  font-family: 'Barlow', sans-serif;
}

.header{

  padding: 0 10% 0 10%;
  

}
.header-main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7em;
  border: 1px solid rgb(114, 112, 112) ;
}
.header-main>p{
  font-size:3em;
  color:#FFFFFF;
  font-family: 'Barlow', sans-serif;
}

.sec3-main-head, .sec4-main-head{
  font-size:2em;
  color:#FFFFFF;
  line-height: 1.2em;
  font-weight: 400;
  font-family: 'Barlow', sans-serif;

}
.sec3-main-side {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.2;
  line-height: 1.6em;
  color: #8A8A8A;
  
}
.sec4-main-side{
  text-align: left;
  font-size: 1.1em;
  line-height: 1.2;
  line-height: 1.6em;
  color: #8A8A8A;
  padding: 2em 0 0 0;
}
/* .sec3-side{
  background: url(../home/services.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
} */

.sec3-side>img{
  height:100%;
  width: 100%;
}
/* .sec4-main{
  background: url(../home/services.png);
  background-repeat: no-repeat;
  background-size:100% 100% ;
  background-attachment:fixed;
} */
.sec4-main>img{
  height:100%;
  width: auto;
}
.sec2-side , .sec4-side{
 
  display: flex;
  flex-direction: column;
 
}
.sec2-side>p {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.2;
  line-height: 1.6em;
  color: #8A8A8A;
}


.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#141416;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}


/* media query */


@media only screen and (max-width: 340px){

  ::-webkit-scrollbar{
  width: 0.1em;
  }
  .navbar-collapse {
    position: absolute;
    background-color: #141416;
    height: 90vh;
    top:10vh;
    width: 100vw;
}
.navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: right 0.2s ease;
    -o-transition: right 0.2s ease;
    -moz-transition: right 0.2s ease;
    transition: right 0.1s ease;
    right: -100%;
}
.navbar-collapse.show {
    right: 0;
    -webkit-transition: right 0.2s ease-in;
    -o-transition: right 0.2s ease-in;
    -moz-transition: right 0.2s ease-in;
    transition: right 0.2s ease-in;
}

.nav-item{
  margin: 3em 0 0 0;
}

.header{
  padding: 0 0 0 0;  
  margin-top: 2em;  
}
.header-main{
  height: 6em;
}
.header-main>p{
  font-size:2em;
  color:#FFFFFF;
  font-family: 'Barlow', sans-serif;
}
.section{
  justify-content: center;
  align-items: center;
}
  .sec-main{
    text-align: center;
  }
  .sec-side{
    padding: 0 0;
 
    font-size: 5vw;
    text-align: center;
  }
  .section2{

    padding: 0 0;
    border: 0px;
}
.sec2-main  {
    height: 12em;
    border-right: 0px ;
}
.sec2 {
   margin:0 0 0 0;
   border: 0px;
}
.sec2-side  {
padding:1em 3em 0 3em;
}
.sec2-main>p{
  font-size: 2.5em;
}

.sec2-side>p{
  font-size: 4.3vw;
}
.sec3-main-head{
  font-size:6vw;
}
.sec3-main-side{
  
  padding: 1em 2em 0 2em;
  font-size:3.9vw;

} 
 .sec3-main{
  width: 100%;
  margin: 0 0 0 0;
 height: 70vh;
 border: 1px solid rgb(114, 112, 112) ;
}


.sec3-side {
  margin: 0 0;
  padding:0 3em 0em 3em;
}
.sec3 {
  margin:0 0 0 0;
  border: 0px;
}

 .sec3-side{
  padding:4em 3em 0 3em;
  }

  .sec4 {
    margin:14em 0 0 0;
    border: 0px;
    height: 94vh;
    width: 100vw;
    border: 0px solid rgb(114, 112, 112) ;
 }
  .sec4-main-head{
    line-height: 1.1em;
    font-size:6vw;

  }
  .sec4-main-side{
   
    font-size:3.9vw;
    padding:0em 2em 0 2em;

  } 
  .sec4-main{

    border-right: 0px solid rgb(114, 112, 112) ;
  }
  .sec4-side{
    padding:1em 1em 0em 1em;
  }
  .sec4-main>img{
    align-self: center;
    height:17em;
    width: auto;
  }

.footer-dark{
  margin: 6em 0 0 0;
}
}

@media only screen and (max-width: 576px) and (min-width: 340px) {
  .navbar-collapse {
    position: absolute;
    background-color: #141416;
    height: 100vh;
    top:100%;
    align-items: center;
    width: 100%;
}
.navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    -moz-transition: right 0.3s ease;
    transition: right 0.3s ease;
    right: -100%;
}
.navbar-collapse.show {
    right: 0;
    -webkit-transition: right 0.3s ease-in;
    -o-transition: right 0.3s ease-in;
    -moz-transition: right 0.3s ease-in;
    transition: right 0.3s ease-in;
}
.nav-item{
  margin: 3em 0 0 0;
}
.header{
  padding: 0 0 0 0;  
  margin-top: 4em;  
}
.header-main{
  height: 6em;
}
.header-main>p{
  font-size:2em;
  color:#FFFFFF;
  font-family: 'Barlow', sans-serif;
}

.sec-main{
  padding: 1.5em 0 0 0;
  font-size: 4em;
  text-align: center;
  align-self: center  ;
}

.sec-side{

  font-size: 1.3em;
  margin-top: 0;
  text-align: center;
  align-self: center  ;
  width: 100%; 
  padding-top: 0;
}

.section2{
  margin: 0 0;
  padding: 0 0;
  justify-content: none;
  align-content: none;
}
.sec2-main{
  height: 15em;
  border-right: 0px ;
}
.sec2 {
 margin:0 0 0 0;
 border: 0px;
}
.sec2-side  {
  padding:1.6em 4em 0 4em;
  place-content: center;
}
.sec2-side>p {
  font-size: 3.5vw;
  }
.sec3{
  margin:1em 0 0 0;
  border: 0px;
 }
.sec3-main {
  width: 100%;

 height: 77vh;
 border-right: 0px solid rgb(114, 112, 112) ;
}

.sec3-main-head{
  font-size:1.5em;
}

 .sec3-main-side{
  font-size: 0.9em;
  padding: 0em 2em 0 2em;
}

.sec3-side {
  padding:2em 3em 0em 3em;
  margin: 0 0;
  height: 17em;
  display: flex;
  place-content: center;
  }
 
.sec3-side>img{
   
    height: 15em;
    width: auto;    
  }
 
  .sec4 {
    margin:10em 0 0 0;
    border: 0px;
    height: 94vh;
    width: 100vw;
    border: 0px solid rgb(114, 112, 112) ;
 }
  .sec4-main-head{
    line-height: 1.1em;
    font-size: 1.6em;

  }
  .sec4-main-side{
   
    font-size: 0.9em;
    padding:0em 1em 0 1em;

  } 
  .sec4-main{

    border-right: 0px solid rgb(114, 112, 112) ;
  }
  .sec4-side{
    padding:1em 1em 0em 1em;
  }
  .sec4-main>img{
    align-self: center;
    height:17em;
    width: auto;
  }

.footer-dark{
  margin: 6em 0 0 0;
}
}

@media only screen and (max-width: 601px) and (min-width: 576px) {

  .navbar-collapse {
    position: absolute;
    background-color: #141416;
    height: 100vh;
    top:100%;
    align-items: center;
    width: 100%;
}
.navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    -moz-transition: right 0.3s ease;
    transition: right 0.3s ease;
    right: -100%;
}
.navbar-collapse.show {
    right: 0;
    -webkit-transition: right 0.3s ease-in;
    -o-transition: right 0.3s ease-in;
    -moz-transition: right 0.3s ease-in;
    transition: right 0.3s ease-in;
}
.nav-item{
  margin: 3em 0 0 0;
}
.header{
  padding: 0 0 0 0;  
  margin-top: 4em;  
}
.header-main{
  height: 6em;
}
.header-main>p{
  font-size:2em;
  color:#FFFFFF;
  font-family: 'Barlow', sans-serif;
}

.sec-main{
  padding: 1.5em 0 0 0;
  font-size: 4em;
  text-align: center;
  align-self: center  ;
}

.sec-side{

  font-size: 1.3em;
  margin-top: 0;
  text-align: center;
  align-self: center  ;
  width: 100%; 
  padding-top: 0;
}

.section2{
  margin: 1em 0 0 0;
  padding: 0 0;
  border: 0px;
}


.sec2-main {
  height: 15em;
  border-right: 0px ;
}

.sec2-side  {
padding:1.5em 4em 0 4em;
}
.sec2-side>p {
font-size: 1.1em;
  }
.sec3{
  border: 0px solid rgb(114, 112, 112) ;
}

.sec3-main {
  width: 100%;
  margin: 1em 0 0 0;  
  border-right: 0px solid rgb(114, 112, 112) ;
}

 .sec3-main-head{
  font-size:1.5em;
}

.sec3-main-side{
  font-size: 0.9em;
  padding: 0 3em 0 3em;
}

 .sec3-side {
  padding:2em 3em 0em 3em;
  margin: 0 0;
  height: 17em;
  display: flex;
  place-content: center;
 }

  .sec3-side>img{
   
    height: 15em;
    width: auto;    
  }

  .sec4 {
    margin:4em 0 0 0;
    border: 0px;
    height: 93vh;
    width: 100vw;
    border: 0px solid rgb(114, 112, 112) ;
 }
  .sec4-main-head{
    line-height: 1.1em;
    font-size: 1.6em;

  }
  .sec4-main-side{
   
    font-size: 0.9em;
    padding:0em 3em 0 3em;

  } 
  .sec4-side{
    padding:1em 3em 0em 3em;
  }
  .sec4-main{

    border-right: 0px solid rgb(114, 112, 112) ;
  }
  .sec4-main>img{
    align-self: center;
    height:17em;
    width: auto;
  }
  

.footer-dark{
  margin: 3em 0 0 0;
}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 601px) {
  body{
    overflow-x:hidden;
  }
  .navbar-collapse {
    position: absolute;
    background-color: #141416;
    height: 90vh;
    top:10vh;
    width: 100vw;
}
.navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: right 0.2s ease;
    -o-transition: right 0.2s ease;
    -moz-transition: right 0.2s ease;
    transition: right 0.1s ease;
    right: -100%;
}
.navbar-collapse.show {
    right: 0;
    -webkit-transition: right 0.2s ease-in;
    -o-transition: right 0.2s ease-in;
    -moz-transition: right 0.2s ease-in;
    transition: right 0.2s ease-in;
}

.nav-item{
  margin: 3em 0 0 3em;
}

    #main{
        padding-left:3vw;
        padding-right:10vw;

    }

    #link>li{
        padding-left: 1.5em;
    }
    .sec-main{
      padding: 1.5em 0 0 0;
      font-size: 5em;
      
    }
    
    .sec-side{
      font-size: 1.3em;
      margin-top: 0;
      width: 80%; 
      padding-top: 0;
    }
    /* footer{
      padding: 0 0;
    }

    .footer-column:not(:first-child) {
      padding-top: 0rem;
    }
    .copyright {
    
      margin-top: 10em;
    } */
    .header{
      padding: 0 0 0 0;  
      margin-top: 4em;  
    }
    .header-main{
     
      height: 6em;
    

    }
    .header-main>p{
      font-size:2em;
      color:#FFFFFF;
      font-family: 'Barlow', sans-serif;
    }
    

    .section2{
      padding: 0 0;
      border: 0px;
  }
    .sec2-main  , .sec4-main{
      height: 40vh;
      border-right: 0px  ;
  }
  
 
  .sec2{
     margin:1em 0 1em 0;
     border: 0px;
  }

  .sec2-side {
  padding:2em 7em 0 7em;
  }

  .sec3-main-head{
    font-size:1.5em;
  }
  .sec3 {
    margin:1em 0 0 0;
    border: 0px;
    height: 90vh;
    width: 100vw;
    border: 0px solid rgb(114, 112, 112) ;
 } 
 
 .sec3-main-side{
    font-size: 0.9em;
    place-content: center;
    padding: 0em 2em 0 2em;
  }
  .sec3-main {
    border-right: 0px solid rgb(114, 112, 112) ;
    
    padding:0em 3em 0 3em;
    }
  .sec3-side{
    padding:2em 3em 0em 3em;
    margin: 0 0;
    height: 17em;
    display: flex;
    place-content: center;
  
  }
  .sec3-side>img{
   
    height: 15em;
    width: auto;    
  }
  .sec4 {
    margin:1em 0 0 0;
    border: 0px;
    height: 93vh;
    width: 100vw;
    border: 0px solid rgb(114, 112, 112) ;
 }
  .sec4-main-head{
    line-height: 1.1em;
    font-size: 1.6em;

  }
  .sec4-main-side{
   
    font-size: 0.9em;
    padding:0em 3em 0 3em;

  } 
  .sec4-side{
    padding:1em 3em 0em 3em;
  }
  .sec4-main>img{
    align-self: center;
    height:17em;
    width: auto;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {
    #main{
        padding-left:8vw;
        padding-right:10vw;

    }

    #link>li{
        padding-left: 1.5em;
    }
    .sec-main{
      padding: 1.5em 0 0 0;

    }
    .sec-side{
      margin-top: 0;
      padding-top: 0;
    }
    /* footer{
      padding:3rem 0;
    }

    .footer-column:not(:first-child) {
      padding-top: 0rem;
    } */

    
    .section2{
      padding: 0 4em;

  }
    .sec2 {
      margin:1em 0 0 0;
     
  }
  .sec3-main-head{
    font-size: 1.8em;
    line-height: 1.1em;
  }
  .sec3-main-side{
    text-align: left;
    font-size: 0.9em;
    padding:1em 3em 0 3em;

  }
  .sec3-main{
    height: 100%;
  }
  .sec2-main{
    height: 40vh;
    background-size: 100vw 100vh;
   
  }
  
  .sec2-side {
   padding:0 5em 0 5em;
  }
 

  .sec4-main-head{
    line-height: 1.1em;
    font-size: 1.6em;
  }
  .sec4-main-side{
   
    font-size: 0.9em;
    padding:1em 3em 0 3em;

  } 
  .sec4-main>img{
    align-self: center;
    height:auto;
    width: 35vw;
  }
  
}


/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 1200px) and (min-width: 991px){

    #main{
        padding-left:8vw;
        padding-right:8vw;
    }

    #link>li{
        padding-left: 1.7em;
    }
    .sec-main{
      padding: 1.5em 0 0 0;
    }
    .sec-side{
      margin-top: 0;
      padding-top: 0;
    }
    /* footer{
      padding:3rem 0;
    }

    .footer-column:not(:first-child) {
      padding-top: 0rem;
    } */

 
    .section2{
      padding: 0 4em;
  }
    .sec2 {
      margin:1em 0 0 0;
     
  }
  .sec3-main-head{
    line-height: 1.1em;
  }
  .sec3-main-side{
    text-align: left;
    font-size: 0.95em;
    padding:1em 5em 0 5em;

  }
 
    .sec3-side{
    background-size:100% 100% ;

  }
  .sec3-side>img{
    align-self: center;
    height:auto;
    width: 35vw;
  }
  .sec3-main{
    height: 100%;
  }
  
  .sec2-main {
    height: 80vh;
  }
 
  .sec4-main-head{
    line-height: 1.1em;
  }
  .sec4-main-side{
   
    font-size: 0.95em;
    padding:1em 5em 0 5em;

  } 
  .sec4-main>img{
    align-self: center;
    height:auto;
    width: 35vw;
  }
  .sec2-side{
   padding:4em 5em 0 5em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    #main{
        padding-left:8vw;
        padding-top: 1vh;
    }

    #link>li{
        padding-left: 2.2em;
    }

    .sec-main{
      padding: 1.5em 0 0 0;
    }
    .sec-side{
      margin-top: 0;
      padding-top: 0;
    }
    /* footer{
      padding: 3rem 0;
    }

    .footer-column:not(:first-child) {
      padding-top: 0;
    } */
    .section2{
      padding: 0 4em;
  }
    .sec2  , .sec3 , .sec4{
      margin:0 0 0 0;
     
  }
  .sec2-main , .sec3-main , .sec4-main{
   height: 80vh;
   border: 1px solid rgb(114, 112, 112) ;
  }
  .sec4-side{
    padding: 1em 5em 0 5em;
  }
  .sec2-side {
   padding:4em 10em 0 10em;
  }
  .sec3-main-side{
    padding: 2em 3em 0 3em;
  }
  }